body {
  margin: 0;
  background: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #020617;
  padding: 25px 35px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 20px #000;
}

h1 { margin-bottom: 5px; }

.box {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 10px;
  margin: 15px 0;
  border-radius: 8px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  border: none;
}

button {
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

progress {
  width: 100%;
  height: 16px;
  margin-top: 10px;
}
